extends layout

block content
  h1= title
  if itemsInStorage.length > 0
    p Showing all the items inside the #{itemsInStorage[0].storage_name}
  if itemsInStorage.length === 0
    p No Items in storage
  ul
    each val in itemsInStorage
      li= val.item_name
        
  form(method="GET" action="/items/addNewItem/"+ id) 
    button(type="submit") Add new item
  hr
  a(href="/") Back to homepage

