extends layout

block content
  h1= title
  p This is all the existing storage:
  ul 
    each val in storageArray
      li
        a(href="/storage/"+ val.id)= val.storage_name

  form(method="GET" action="/newStorage" ) 
    button(type="submit") Add new storage
